<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ reservation?.user?.name | titlecase }}</h5>
      <h5 class="card-title">{{ reservation?.user?.direction?.address | titlecase }}</h5>
      <h5 class="card-title">{{ reservation?.requerimiento }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ reservation?.state | uppercase }}</h6>
      <p class="card-text">{{ reservation?.descripcion }}</p>
      <h6> {{ startDate | date:'yyyy-MM-dd, h:mm a'}}</h6>
      <h6> {{ endDate | date:'yyyy-MM-dd, h:mm a'}}</h6>
      
      <a [routerLink]="['/reservations', reservation?.id]" href="#" class="btn btn-primary">Ver mas...</a>
      <a  href="#" class="btn btn-danger">Eliminar</a>
    </div>
  </div>

  