.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
  margin: 0 auto;
  width: 18rem;
}

.card-body {
  padding: 40px 30px 30px 30px;
}

.card-title {
  font-family: "Asap", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-subtitle {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Asap", sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-family: "Asap", sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.btn-primary {
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Asap", sans-serif;
  font-size: 1rem;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 300ms;
}

.btn-primary:hover {
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
  width: 430px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container::before,
.form-container::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}

.form-container::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(69, 105, 144, 0.15);
  animation: wawes 6s infinite linear;
}

.form-container::after {
  left: 35%;
  bottom: -125%;
  background-color: rgba(2, 128, 144, 0.2);
  animation: wawes 7s infinite;
}

.form-container input,
.form-container select {
  display: block;
  border-radius: 5px;
  font-family: "Asap", sans-serif;
  font-size: 16px;
  background: white;
  width: calc(100% - 20px);
  border: 0;
  padding: 10px;
  margin: 15px auto;
}

.form-container button {
  cursor: pointer;
  color: #fff;
  font-family: "Asap", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  width: 100px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #f45b69;
  transition: background-color 300ms;
  margin-right: 10px;
}

.form-container button:hover {
  background-color: #f24353;
}

a {
  margin-left: 5px;
  margin-right: 5px;
}

@keyframes wawes {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
