  <button type="submit" class="btn btn-primary btn-block" (click)="handleClick()">volver</button>
<div >
  <table >
    <thead >
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Active</th>
                <!--<th>Password</th>-->
                <th>Direction ID</th>
                <th>Rol</th>
                <th>Action</th>
              </tr>
            </thead>
         
            <tbody >
            @for (user of users; track user.id) {
                  <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.isActive ? 'Si' : 'No' }}</td>
                    <!--<td>{{ user.password }}</td>-->
                    <td>{{ user.direction?.address }}</td>
                    <td>{{ user.rol}}</td>
                    <td>
                      @if (user.isActive === true){
                          <a class="nav-link" (click)="desactivar(user?.email)">Desactivar</a>
                      }
                      @else{
                          <a class="nav-link" (click)="activar(user?.email)">Activar</a>
                      }
                      <a class="nav-link" (click)="editar(user?.email)">Editar</a>
                      <a class="nav-link" (click)="eliminar(user?.email)">Eliminar</a>
                      </td>
                  </tr>
            }
            </tbody>
        </table>


  <div class="content">
    <router-outlet></router-outlet> <!-- Aquí se cargarán los componentes hijos -->
  </div>
</div>