<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;" >
<div class="card p-4" style="width: 300px; border-radius: 10px; border: 1px solid #ccc;">
<form style="width: 400px;" [formGroup]="myForm" (ngSubmit)="createReservation()">
   <div class="mb-3">
    <input
        formControlName="requerimiento"
        type="text"
        required  placeholder="Requerimiento" class="form-field" 
    />
    @if (myForm.get('requerimiento')?.hasError('required')){
        <div class="error-message" >
            Nombre requerido
        </div>
    }

 </div>
 <div class="mb-3">
    <input
        formControlName="startDate"
        type="datetime-local"
        required 
        class="form-field" 
        (input)="convertTimeStart()"
        
/>
    <label>{{startTime}}</label>
    @if (myForm.get('startDate')?.hasError('required')){
        <div class="error-message" >
            Fecha requerida
        </div>
    }
 </div>
 <div class="mb-3">


    <input
        formControlName="endDate"
        type="datetime-local"
        required  
        class="form-field" 
       (input)="convertTimeEnd()"
    />
    <label>{{endTime}}</label>
    @if (myForm.get('endDate')?.hasError('required')){
        <div class="error-message" >
            Fecha requerida
        </div>
    }
 </div>
 <div class="mb-3">
    <input
        formControlName="cantidad_persona"
        type="number"
        required  placeholder="Cantidad de persona" class="form-field" 
    />
    @if (myForm.get('cantidad_persona')?.hasError('required')){
        <div class="error-message" >
            Cantidad de personas requerida
        </div>
    }
 </div>
 <div class="mb-3">
    <input
        formControlName="descripcion"
        type="text"
        required  placeholder="Descripcion" class="form-field" 
    />
    @if (myForm.get('descripcion')?.hasError('required')){
        <div class="error-message" >
            Descripcion requerida
        </div>
    }
 </div>

 <div class="mb-3">
    <select formControlName="selectedItem" >
        @for (salon of salons; track salon.id) {
            <option value="{{ salon.id }}">{{ salon.name }}</option>
        } @empty {
            <option>There are no items.</option>
        }          
    </select>
    @if (myForm.get('selectedItem')?.hasError('required')){
        <div class="error-message" >
            Descripcion requerida
        </div>
    }
 </div>
 

    <button type="submit" class="btn btn-primary btn-block">Crear</button>
  </form>
</div>
</div>