<div class="sub-nav">
  <!-- Barra de navegación -->
  <div class="sidebar">
    <ul class="nav flex-column"> <!-- Añade la clase 'flex-column' para mostrar la lista verticalmente -->
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/dashboard/reservations/reservations">Reservaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/dashboard/reservations/create">Crear Reservacion</a>
      </li>
      <!-- Otros enlaces de navegación -->
    </ul>
  </div>

  <!-- Área de contenido -->
  <div class="content">
    <router-outlet></router-outlet> <!-- Aquí se cargarán los componentes hijos -->
  </div>
</div>
