<div *ngIf="status==='error'" class="alert alert-danger" role="alert">
  {{ message }}
</div>

<div *ngIf="status==='ok'" class="alert alert-success" role="alert">
  {{ message }}
</div>

<nav>
  <div class="wrapper">
    <div class="logo"><a href="#">Logo</a></div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
       @if(rol === "ADMIN"){
          <li>
            <a routerLink="/dashboard/home">Inicio</a>
          </li>
       }
      <li>
        <a routerLink="/dashboard/profile">Perfil</a>
      </li>
      
      <li>
        <a  routerLink="/dashboard/reservations">Reservaciones</a>
      </li>
      <li>
        <a  (click)="logout()">Salir</a>
      </li>
    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>

<div class="body-text">
  <!--<div class="title">Responsive Dropdown and Mega Menu</div>
  <div class="sub-title">using only HTML & CSS</div>-->
</div>