<!------------------------------------------------------------------------------------------------------------------------>
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card p-4" style="width: 300px; border-radius: 10px; border: 1px solid #ccc;">

<h2 class="mb-4 text-center">Actualizar</h2>



<form  [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="text-center">
  <div class="mb-4">
       <select formControlName="rol">
       <option value="admin" selected>Admin</option>
       <option value="user">User</option>
       </select>
 </div>
       @if (updateForm.get('rol')?.hasError('required')){
            <div class="error-message" >
                rol requerido.
            </div>
       }

	    <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
</form>
</div>
</div>
