<div class="sub-nav">
  <!-- Barra de navegación -->
  <div class="sidebar">
    <ul class="nav flex-column"> <!-- Añade la clase 'flex-column' para mostrar la lista verticalmente -->
      <li class="nav-item">
        <a class="nav-link text-dark">Reporte reservación por usuario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark">Reporte reservación por salón</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark">Reporte por fecha</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users']" [queryParams]="{ reload: true }">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-user">Crear Usuario</a>
      </li>
    </ul>
  </div>

  <!-- Área de contenido -->
  <div class="content">
    
  </div>
</div>
