<div class="">
  <!-- Barra de navegación -->
  <div class="sidebar">
    <ul class="nav flex-column"> <!-- Añade la clase 'flex-column' para mostrar la lista verticalmente -->
      <li class="nav-item">
        <a class="nav-link text-dark" >Reporte reservacion por usuario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" >Reporte reservacion por salon</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" >Reporte por fecha</a>
      </li>
      <!-- Otros enlaces de navegación -->
    </ul>
  </div>

  <!-- Área de contenido -->
  <div class="content">
    
  </div>
</div>
