@if (reservation) {
<div class="card p-4 container d-flex justify-content-center " style="width: 300px; border-radius: 10px; border: 1px solid #ccc;">
        <p> Descripcion: {{ reservation.descripcion }}</p>
        <p>Status: {{ reservation.state }}</p>
        <p>Salon: {{ salon }}</p>
        <p>Fecha de inicio: {{ startDate | date:'yyyy-MM-dd, h:mm a' }}</p>
        <p>Fecha de finalizacion: {{ endDate | date:'yyyy-MM-dd, h:mm a' }}</p>
        <p>Requerimiento: {{reservation.requerimiento}}</p>
        @if (rol === "ADMIN"){
                <button (click)="changeStatusInReservation(reservation.id, 'accepted')" class="btn btn-primary">Aceptar</button>
                <button (click)="changeStatusInReservation(reservation.id, 'refused')" class="btn btn-outline-danger">Rechazar</button>
                <button class="btn btn-outline-success" (click)="goBack()">Volver...</button>
        }
    </div>
}
