@if (reservation) {
    <div>
        <p>{{ reservation.descripcion }}</p>
        <p>Status: {{ reservation.state }}</p>
        <p>Salon: {{ reservation.salonId }}</p>
        <p>Fecha de inicio: {{ reservation.startDate }}</p>
        <p>Fecha de finalizacion: {{ reservation.endDate }}</p>
        <p>{{reservation.descripcion}}</p>

        <button (click)="changeStatusInReservation(reservation.id, 'accepted')" class="btn btn-primary">Aceptar</button>
        <button (click)="changeStatusInReservation(reservation.id, 'refused')" class="btn btn-outline-danger">Rechazar</button>
        <button class="btn btn-outline-success" (click)="goBack()">Volver...</button>
    </div>
}
